# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Dependencies
/node_modules
/schematics/node_modules
/schematics/dist
/schematics/*.tgz

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
.history/*

# Angular cache
.angular/cache
.sass-cache/

# Logs and coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

# Playwright
/playwright-report/
/playwright-report-bff/
/test-results/

# OWASP ZAP
/report_html.html
/report_json.json
/report_md.md

# OS files
.DS_Store
Thumbs.db
